<div class="cmdBoxNavi btn-group">
    <a data-toggle="reload" class="btn btn-inverse btn-sm" href="#" role="button" aria-label="Reload" title="Reload">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </a>
    <a data-toggle="theme" class="btn btn-inverse btn-sm" href="#" role="button" aria-label="Theme" title="Theme">
        <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
    </a>
    <a data-toggle="config" class="btn btn-inverse btn-sm" href="#" role="button" aria-label="Config" title="Config">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    </a>
</div>
