<div class="cmdBoxNavi btn-group">
    <a data-toggle="reload" class="btn" href="#" role="button" aria-label="Reload" title="Reload">
        Reload
    </a>
    <a data-toggle="theme" class="btn" href="#" role="button" aria-label="Theme" title="Theme">
        Theme
    </a>
    <a data-toggle="config" class="btn" href="#" role="button" aria-label="Config" title="Config">
        Config
    </a>
</div>
